.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 70%;
}


button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}

.table-container {
  width: 80%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

mat-paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  width: 30%;
  text-align: right;
}

input[type="text"] {
  padding: 10px;
  border-radius: 30px;
  border: none;
  margin-bottom: 10px;
  width: 70%;
}

input[type="text"],
input[type="email"],
select {
  padding: 10px;
  border-radius: 30px;
  border: none;
  margin-bottom: 10px;
  width: 100%;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
}