<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-group">
      <div class="form-group__item">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
        <div *ngIf="myForm.get('name')?.invalid && (myForm.get('name')?.dirty || myForm.get('name')?.touched)" class="error-message">
          <div *ngIf="myForm.get('name')?.errors?.['required']">Name is required</div>
        </div>
      </div>
      <div class="form-group__item">
        <label for="rollNumber">Roll Number:</label>
        <input type="text" id="rollNumber" formControlName="rollNo" pattern="^[a-zA-Z0-9]{7}$">
        <div *ngIf="myForm.get('rollNo')?.invalid && (myForm.get('rollNo')?.dirty || myForm.get('rollNo')?.touched)" class="error-message">
          <div *ngIf="myForm.get('rollNo')?.errors?.['required']">Roll Number is required</div>
          <div *ngIf="myForm.get('rollNo')?.errors?.['pattern']">Invalid Roll Number format (must be 7 alphanumeric characters)</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group__item">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)" class="error-message">
          <div *ngIf="myForm.get('email')?.errors?.['required']">Email is required</div>
          <div *ngIf="myForm.get('email')?.errors?.['email']">Invalid email format</div>
        </div>
      </div>
      <div class="form-group__item">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" formControlName="phone" pattern="[0-9]{10}">
        <div *ngIf="myForm.get('phone')?.invalid && (myForm.get('phone')?.dirty || myForm.get('phone')?.touched)" class="error-message">
          <div *ngIf="myForm.get('phone')?.errors?.['required']">Phone number is required</div>
          <div *ngIf="myForm.get('phone')?.errors?.['pattern']">Invalid phone number format (must be 10 digits)</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Gender:</label>
      <select id="gender" formControlName="gender">
        <option value="">-- Select Gender --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <div *ngIf="myForm.get('gender')?.invalid && (myForm.get('gender')?.dirty || myForm.get('gender')?.touched)" class="error-message">
        <div *ngIf="myForm.get('gender')?.errors?.['required']">Gender is required</div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
  <div class="table-container">
    <div class="search-row">
      <input type="text" #searchInput (input)="onSearch(searchInput.value)" placeholder="Search" class="search-input">
    </div>
    <table>
      <thead>
        <tr>
          <th class="table-header" (click)="onSort('name')">Name</th>
          <th class="table-header" (click)="onSort('rollNo')">Roll Number</th>
          <th class="table-header" (click)="onSort('email')">Email</th>
          <th class="table-header" (click)="onSort('phone')">Phone</th>
          <th class="table-header" (click)="onSort('gender')">Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filteredData | orderBy: sortColumn: sortDirection">
          <td>{{ data.name }}</td>
          <td>{{ data.rollNo }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ data.gender }}</td>    
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="filteredData.length"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>